.navbar-brand {
  padding-left: 10px;
  color: rgb(131, 96, 76);
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.bi {
  padding-top: 5px;
  width: 55px;
  height: 55px;
}

#imagen_perfil_nav {
  border-radius: 25px;
  box-shadow: 0px 1px 2px rgb(131, 96, 76);
  /* Añade sombra a la imagen */
  width: 50px;
  height: 50px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cuerpo_home {
  width: 100%;
  height: fit-content;
  /* Add your background pattern here */
  background-image: linear-gradient(#ffffff 1.1rem, #e7e7e7 1.2rem);
  background-size: 100% 1.2rem;
}

li {
  position: relative;
  list-style: none;
  padding: 0 10px;
}

li::after {
  content: '';
  position: absolute;
  background-color: rgb(131, 96, 76);
  height: 3px;
  width: 0%;
  left: 20px;
  bottom: 6px;
  transition: all 0.5s ease;
}

li:hover::after {
  width: 85%;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  background-color: rgb(131, 96, 76);
  height: 3px;
  width: 85%;
  left: 20px;
  bottom: 6px;
  transition: all 0.5s ease;
}

.titulo_libro {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.portada_libro {
  margin-top: 10px;
  text-align: center;
  
}
.img_portada{
  border-radius: 20px;
  width: 400px;
  height: 600px;
}

.resumen_libro {
  text-align: center;
  margin-top: 30px;
  max-height: 600px;
  font-size: 120%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.botones {
  text-align: center;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}

.no_pendiente{
  color: grey;
}

.pendiente{
  color: #ffeb49;
}

.no_pendiente:hover{
  color: rgb(65, 65, 65);
}

.pendiente:hover{
  color: rgb(255, 222, 32);
}

.anadir_leyendo{
  color: #94cbff;
}

.anadir_leyendo:hover{
  color: rgb(65, 154, 255);
}

.anadir_acabado{
  color: #d392ff;
}

.anadir_acabado:hover{
  color: #965fbb;
}