.navbar-brand{
padding-left: 10px;
   color: rgb(131, 96, 76);
   font-style: italic;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.bi{
   width: 40px;
   height: 40px;
}