.navbar-brand {
   padding-left: 10px;
   color: rgb(131, 96, 76);
   font-style: italic;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
   font-family: Georgia, 'Times New Roman', Times, serif;
}


.bi {
   padding-top: 5px;
   width: 55px;
   height: 55px;
}

#imagen_perfil_nav {
   border-radius: 25px;
   box-shadow: 0px 1px 2px rgb(131, 96, 76);
   /* Añade sombra a la imagen */
   width: 50px;
   height: 50px;
}

html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
}

.cuerpo_home {
   width: 100%;
   height: 100%;
   /* Add your background pattern here */
   background-image: linear-gradient(#ffffff 1.1rem, #e7e7e7 1.2rem);
   background-size: 100% 1.2rem;
}

li {
   position: relative;
   list-style: none;
   padding: 0 10px;
}

li::after {
   content: '';
   position: absolute;
   background-color: rgb(131, 96, 76);
   height: 3px;
   width: 0%;
   left: 20px;
   bottom: 6px;
   transition: all 0.5s ease;
}

li:hover::after {
   width: 85%;
}

.nav-link.active::after {
   content: '';
   position: absolute;
   background-color: rgb(131, 96, 76);
   height: 3px;
   width: 85%;
   left: 20px;
   bottom: 6px;
   transition: all 0.5s ease;
}

.tarjeta {
   border: 1px solid #ccc;
   
   border-radius: 8px;
  
   padding: 10px;
  
   margin-bottom: 10px;
  
}

.informacion-usuario {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   
   position: relative;
  
}

.informacion-usuario img {
   margin-right: 10px;
}

.nombre-usuario {
   font-weight: bold;
   /* Texto en negrita */
}

.fecha-publicacion {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 12px;
   color: #777; 
}

.contenido-tarjeta {
   font-family: Georgia, 'Times New Roman', Times, serif;
   /* Estilos para el contenido de la tarjeta, si es necesario */
}

.titulo-tarjeta {
   font-size: 16px;
   /* Tamaño de fuente del título */
   color: #333;
   /* Color del texto del título */
}